body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fffffb;
}
.heading {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 2rem;
  color: #FF1493;
}
div.heading img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: 0;
}
div.heading {
  position: relative;
}
h1 {
  margin: 0;
  position: absolute;
  top: 85px;
  left: 420px;
  z-index: 10;
}
div.heading h2 {
  font-family: 'Lobster', cursive;
  font-size: .9em;
  text-align: center;
  color: #ff49ab;
  letter-spacing: 2px;
  margin: 0;
  position: absolute;
  top: 285px;
  left: 305px;
}
.cupcake {
  font-weight: bold;
  font-size: 1.4em;
  padding: 5px;
  padding-left: 10px;
  border-left: 10px solid #00BFFF;
}
.font-styles {
  font-weight: bold;
  font-style: italic;
}
.column-left {
  width: 44%;
  float: left;
  padding: 0 10px;
}
.column-right {
  width: 44%;
  float: right;
  padding: 0 10px;
}
.centered {
  text-align: center;
  padding: 10px 110px;
  font-size: 1.1em;
  margin-bottom: 40px;
}
.wrap {
  width: 90%;
  margin: 0 auto;
}
.imgs-styling {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0;
  border-radius: 50%;
}
.padding {
  padding-bottom: 20px;
}
.unknown {
  font-style: italic;
}
